<div class="container">
  <h1>Hello Playground</h1>
  <pre>{{form.value | json}}</pre>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group mb-2">
      <label for="email" class="form-label mt-4">Email address</label>
      <input
        ngModel
        #email
        name="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group mb-2">
      <label for="password" class="form-label mt-4">Email address</label>
      <input
        ngModel
        name="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      >
    </div>
    <div class="form-group mb-4">
      <label for="confirm" class="form-label mt-4">Email address</label>
      <input
        ngModel
        name="confirm"
        type="password"
        class="form-control"
        id="confirm"
        placeholder="Confirm password"
      >
    </div>
    <button class="btn btn-success">Inscription</button>
  </form>
</div>
