<div class="container">
  <h1>Hello Playground</h1>
  <div class="bg-light">
    <pre>{{form.value | json}}</pre>
    <pre>{{form.valid | json}}</pre>
  </div>
  <form #form="ngForm" (submit)="onSubmit(form)" [ngFormOptions]="{updateOn: 'blur'}">
    <div class="form-group mb-2">
      <label for="email" class="form-label mt-4">Email address</label>
      <input
        ngModel
        #email="ngModel"
        name="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailError"
        placeholder="Enter email"
        required
        email
        [class.is-invalid]="email.touched && email.invalid"
        [class.is-valid]="email.touched && email.valid"
        [ngModelOptions]="{updateOn: 'change'}"
      >
      <small
        id="emailErrorRequired"
        class="form-text"
        [class.invalid-feedback]="email.touched && email.invalid"
        *ngIf="email.touched && email.hasError('required')"
      >
        Adresse email obligatoire
      </small>
      <small
        id="emailErrorInvalid"
        class="form-text"
        [class.invalid-feedback]="email.touched && email.invalid"
        *ngIf="email.touched && email.hasError('email')"
      >
        Adresse email invalide
      </small>
    </div>
    <div class="form-group mb-2">
      <label for="password" class="form-label mt-4">Password</label>
      <input
        ngModel
        #password="ngModel"
        name="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        required
        minlength="3"
        [class.is-invalid]="password.touched && password.invalid"
        [class.is-valid]="password.touched && password.valid"
        [ngModelOptions]="{updateOn: 'blur'}"
      >
      <small
        id="passwordErrorRequired"
        class="form-text"
        [class.invalid-feedback]="password.touched && password.invalid"
        *ngIf="password.touched && password.hasError('required')"
      >
        Mot de passe obligatoire
      </small>
      <small
        id="passwordErrorMinLength"
        class="form-text"
        [class.invalid-feedback]="password.touched && password.invalid"
        *ngIf="password.touched && password.hasError('minlength')"
      >
        Le mot de passe doit faire plus de 3 caractères
      </small>
    </div>
    <div class="form-group mb-4">
      <label for="confirm" class="form-label mt-4">Confirm</label>
      <input
        ngModel
        #confirm="ngModel"
        name="confirm"
        type="password"
        class="form-control"
        id="confirm"
        placeholder="Confirm password"
        required
        minlength="3"
        [class.is-invalid]="confirm.touched && confirm.invalid"
        [class.is-valid]="confirm.touched && confirm.valid"
        [ngModelOptions]="{updateOn: 'blur'}"
      >
      <small
        id="confirmErrorRequired"
        class="form-text"
        [class.invalid-feedback]="confirm.touched && confirm.invalid"
        *ngIf="confirm.touched && confirm.hasError('required')"
      >
        Mot de passe obligatoire
      </small>
      <small
        id="confirmErrorMinLength"
        class="form-text"
        [class.invalid-feedback]="confirm.touched && confirm.invalid"
        *ngIf="confirm.touched && confirm.hasError('minlength')"
      >
        La confirmation doit faire plus de 3 caractères
      </small>
    </div>
    <button class="btn btn-success" [disabled]="form.invalid">Inscription</button>
  </form>
</div>
